@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url('../assets/photo2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

@media (max-width: 768px) {
  header {
    background-attachment: scroll;
  }
}


.header-text {
    margin-top: 0rem;
    margin-left: 0rem;
    color: #424242;
}

.photo-one {
    object-fit: scale-down;
    height: 350px !important;
    text-align: center;
}

.carousel-item img {
    height: 400px; /* or any height you like */
    object-fit: cover;
  }

  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* adjust darkness here */
    z-index: 1;

  }

  .card-img-top {
    object-fit: cover;
    height: 150px;
  }


  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    
  }